body {
    margin: 0;
    background-color: #f8f8f8;
    font-family: Calibri,Helvetica,Arial,sans-serif;
}

#header {
    border-bottom: 4px solid #de1b1b;
    margin-bottom: 7px;
}

#banner {
    background-color: #2b2b2b;
    height: 30px;
    color: #fff;
    padding: 10px 40px;
    margin-bottom: 3px;
}

#content {
    margin: 20px auto 0 auto;
    width: 500px;
}

h1 {
    margin: 0 auto;
    width: 300px;
    font-weight: 400;
}

h2 {
    margin: 0;
}

p {
    margin: 0 auto;
    width: 700px;
}

table {
    border-collapse: collapse;
    margin: 0 auto 5px;
}

table, td, th {
    background-color: #fff;
    border: 1px #2b2b2b solid;
}

th {
    width: 200px;
    background-color: #de1b1b;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
}

th, td {
    padding: 4px;
}

td {
    padding-left: 20px;
}

#pager {
    margin-left: 40px;
}

    #pager a, #pager span {
        padding-left: 5px;
    }

#info {
    background-color: #fff;
    border: 2px solid #de1b1b;
    border-radius: 10px;
    padding: 10px 30px;
    margin-top: 5px;
    box-sizing: border-box;
}

.label {
    margin-left: 50px;
    width: 100px;
    float: left;
}

#content a:link, a:visited {
    font-weight: 700;
    color: #000;
}
