@model NavigationEdge.Models.Component
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="content">
        @Html.Raw(Model.Content)
    </div>
    <script>
        @Html.Raw(Model.Props)
    </script>
</body>
</html>
