@model NavigationEdge.Models.Component
<!DOCTYPE html>
<html>
<head>
    <title>Navigation Edge</title>
</head>
<body>
    <div id="content">@Html.Raw(Model.Content)</div>
    <script src="/app.js"></script>
    <script>
        StateInfo.register(@Html.Raw(Model.Props));
    </script>
</body>
</html>
